---
const SiteTitle = import.meta.env.SiteTitle ?? 'MokuLog';
const Url = new URL(Astro.url.pathname, Astro.site);
const { Meta = {} } = Astro.props;
const IsHome = Astro.url.pathname === '/';
const OgType = IsHome ? 'website' : 'article';
const PageTitle = IsHome ? SiteTitle : `${Meta.title} - ${SiteTitle}`;
const Description = Meta.description ?? 'quiet mornings. steady focus.';
const Image = Meta.image ?? '/OGPcard01.PNG';
---
<!DOCTYPE html>
<html lang="ja" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={Description} />
    <meta name="robots" content="max-image-preview:large" />

    <!-- OGP設定 -->
    <meta property="og:title" content={PageTitle} />
    <meta property="og:type" content={OgType} />
    <meta property="og:site_name" content={SiteTitle} />
    <meta property="og:url" content={Url.href} />
    <meta property="og:image" content={Image} />
    <meta property="og:description" content={Description} />

    <!-- Twitterカード -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={PageTitle} />
    <meta name="twitter:description" content={Description} />
    <meta name="twitter:image" content={Image} />

    <!-- その他 -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={Url.href} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/globals.css" />
    <title>{PageTitle}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>